<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>my.shell.lima</string>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	
	<key>ProgramArguments</key>
	<array>
		<string>/bin/zsh</string>
		<string>--login</string>
		<string>-c</string>
		<string>source $HOME/.zshrc ; limactl start default ; tail -f /dev/null</string>
	</array>

        <key>RunAtLoad</key>
	<true/>

	<key>ProcessType</key>
	<string>Background</string>


	<key>StandardErrorPath</key>
        <string>/tmp/AlTest1.err</string>

        <key>StandardOutPath</key>
        <string>/tmp/AlTest1.out</string>
</dict>
</plist>
